<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1><%= content %></h1>
</body>
<footer>
    <HR WIDTH="100%" COLOR="#000000" SIZE="1">
    <p>Author: Pavlo Zinevych <a href="s19204@pjwstk.edu.pl">s19204@pjwstk.edu.pl</a></p>
</footer>
</html>
