<!DOCTYPE html>
<html>
<head>
    <title>Game Over</title>
    <link rel='stylesheet' href='/stylesheets/levelstyle.css' />
</head>
<body>
<h1 style="font-size: 100px;">Game over</h1>
<div>
    <label>Current score:</label>
    <label><%= currentScore %></label>
    <br>
    <label>High score:</label>
    <label><%= highScore %></label>
</div>
<button onclick="location.href='http://localhost:3000/'" type="submit">Main menu</button>
</body>
</html>
